.top{
    text-align: center;
    padding-bottom: 20px;
}
input{
    background-color: lightblue;
    padding: 2%;
   
}

body{
    background-image: linear-gradient(to right,blue,green,purple,white,pink);
}


.card{
    justify-content: center;
    text-align: center;
    
}